{% extends 'base.html' %} 

{% block pizda %} 

{% for i in object_list %}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        {% if i.image %}
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{ i.image.url }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
        {% endif %}
      <div class="col-lg-6">
          <a href="posts/{{ i.slug }}/"> <h1 class="display-5 fw-bold lh-1 mb-3">{{ i.title}} </h1></a>
        <!--  {{ i.title }} </h1> -->
        <p class="lead"> {{ i.text|truncatewords:50 }}</p>
      </div>
    </div>
  </div>

{% endfor %}

{% endblock pizda %} 