{% extends 'base.html' %} 

{% block carousel %} 
{% if sliders %}
<!-- <div class='col-sm-10 col-sm-offset-3' style='text-align: center;'> -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" width="300">
  <div class="carousel-indicators">
    {% for slider in sliders %}
    <button type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %} class="active" aria-current="true" {% endif %} aria-label="Slide {{ forloop.counter }}"></button>
    
    {% endfor %} 
  </div>
  <div class="carousel-inner">
    

    {% for slider in sliders %} 

    <div class="carousel-item {% if forloop.first %} active {% else %} {% endif %} ">
      {% if slider.url_link %} <a href="{{ slider.url_link }}"> {% endif %}
      <img src="{{ slider.get_image_url }}" class="d-block w-100" alt="...">
      {% if slider.url_link %} </a> {% endif %}
      <div class="carousel-caption">
        {% if slider.header_text %}
        {% if slider.url_link %} <a href="{{ slider.url_link }}" style="text-decoration: None; color: cornsilk;" >{% endif %}
          <h3>{{ slider.header_text }}</h3>
        {% if slider.url_link %} </a> {% endif %}
        {% endif %} 
        {% if slider.text %} 
        <p> {{ slider.text }}</p>
        {% endif %} 
      </div>
    </div>

    {% endfor %}

  </div>



  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endif %} 
<!-- </div> -->
{% endblock carousel %}

{% block pizda %} 

{% for i in object_list %}

<div class="container col-xxl-8 px-4 py-2">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        {% if i.image %}
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{ i.image.url }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" loading="lazy">
            </div>
        {% endif %}
      <div class="col-lg-6">
          <a href="posts/{{ i.slug }}/"> <h1 class="display-5 fw-bold lh-1 mb-3">{{ i.title}} </h1></a>
        <!--  {{ i.title }} </h1> -->
        <p class="lead"> {{ i.text|truncatewords:50 }}</p>
      </div>
    </div>
  </div>

{% endfor %}

{% endblock pizda %} 