<div class="modal" style="color: black;" tabindex="-1" id='marketingModal'>
    <form method="POST" action="{% url 'ajax-email-signup' %}" id=sendForm> {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">  
                    <div class="modal-error" id="modalError">
                        <message></message>
                    </div>   
                    <input type="email" class="form-control" name="email" maxlength="200" required="" id="id_email" placeholder="Your Email Address" >
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id='sendMarketingForm'>Let's Go!</button>
                </div>
            </div>
        </div>
    </form>
  </div>