{% extends 'base.html' %} 

{% block pizda %}



<main>

  <div class="album py-5 bg-dark">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for i in all_categories %}
        <div class="col">
          <div class="card shadow-sm">
            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="/Users/gennady/Documents/Dev/my-website/media/images/8.jpg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            {% if i.image %}
            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="{{ i.image.url }}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                <img src="{{ i.image.url }}" class="d-block mx-lg-auto image" alt="Bootstrap Themes" idth="300" height="300" loading="lazy">

            {% endif %}
            {% if not i.image %} 
                <img src="" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            {% endif %}
            <div class="card-body">
              <a href="{{ i.get_absolute_url  }}"><p class="card-text" style="color: black; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">{{i.name}}</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    
                        <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                    <form action="/store/items/{{ i.slug }}">
                        <button type="submit" class="btn btn-sm btn-outline-secondary"> Product Details </button>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="/docs/5.1/getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>


    <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

      
  </body>
</html>

{% endblock pizda %}