{% extends 'base.html' %} 









{% block pizda %} 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
      $("#addShippingAddress").click(function(e){
        e.preventDefault();
        $("#addShippingForm").fadeToggle();
      });

    {% if not current_addresses %} 
        $("#addShippingForm").fadeToggle();
    {% endif %} 
    

});




</script>









<div class="mb-3 container" style="margin-bottom: 5%; margin-top: 5%;">
    <h1> Address Information </h1>
</div>
<p> Choose your from your saved addresses or create a new one: </p>
{{ request.user.userdefaultaddress.shipping }}
{% if current_addresses %} 
<!-- 
<form method="POST" action="" id="payment-form" > {% csrf_token %} -->

<form method='POST' action="{% url 'payment-page' %}"> {% csrf_token %} 
<div class='container col-sm-6' style="align-content: center; width: 250px"> 
    <p> Your saved shipping address </p>
    <select name='shipping_address'  class="form-select form-select-sm mb-0 padding-3 aria-placeholder='Pizda'" aria-value='1' aria-setsize="10" aria-placeholder="1" >
        
        {% for address in current_addresses %}
        {{ address.id }}
        
        <option {% if address.id == request.user.userdefaultaddress.shipping.id %} selected {% endif %}  value="{{address.id}}"> {{ address.get_address }}</option>
        
    {% endfor %} 
    </select>



    </ul>
</div>
<a href="{% url 'add_user_address' %}" class="mb-3" style="text-decoration: None;" id="addShippingAddress"> Add new address </a>
</br>
{% endif %}

{% if current_billing_addresses %} 


<div class='container col-sm-6 mt-3' style="align-content: center; width: 250px"> 
    <p> Your saved billing address </p>
    <select name='billing_address'  class="form-select form-select-sm mb-1 padding-3 aria-placeholder='Pizda'" aria-value='1' aria-setsize="10" aria-placeholder="1" >
    {% for address in current_billing_addresses %}
        <option {% if address.id == request.user.userdefaultaddress.shipping.id %} selected {% endif %} value="{{address.id}}"> {{ address.get_address }}</option>
    {% endfor %} 
    </select>
    </ul>
</div>



</br>
{% endif %}

    <div class="container">
        <button class='btn btn-success btn-sm' type="submit" > Choose address</button>
     
</form>
    
    </div>  
<!-- тут форма добавления  -->


<div class='container mt-0' id='addShippingForm' style="display: None;" >
    <h1> {{ message }}</h1>
    <form method="POST" action="{% url 'ajax-add-user-address' %}?next=checkout"> {% csrf_token %}
        {{ address_form.as_p}} 

    <input type='submit' class='btn btn-primary' value='Add Address' />
    </form>
</div>









{% endblock pizda %}
 